VITE_FIREBASE_API_KEY=AIzaSyC8N0FYmFplqOdaZGzk-fxbqxX3kr3mmDQ
VITE_FIREBASE_AUTH_DOMAIN=brocker-intel.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=brocker-intel
VITE_FIREBASE_STORAGE_BUCKET=brocker-intel.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=641968934387
VITE_FIREBASE_APP_ID=1:641968934387:web:be779857dc0eb93a7bd686
VITE_FIREBASE_MEASUREMENT_ID=G-L0MKXG2MS6
