rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){ return request.auth != null; }
    function isAdmin(){ return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin'; }
    function isDriver(){ return signedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'driver'; }
    match /users/{uid} { allow read, update: if signedIn() && (request.auth.uid == uid || isAdmin()); allow create, delete: if isAdmin(); }
    match /drivers/{id} { allow read: if signedIn(); allow write: if isAdmin(); }
    match /settings/{id} { allow read: if signedIn(); allow write: if isAdmin(); }
    match /weeks/{id} { allow read: if isAdmin() || (isDriver() && resource.data.driverUid == request.auth.uid); allow write: if isAdmin(); }
    match /dailyVehicles/{id} { allow read: if signedIn(); allow write: if isAdmin() || (isDriver() && request.resource.data.driverUid == request.auth.uid); }
    match /parcels/{id} { allow read: if isAdmin() || (isDriver() && resource.data.driverUid == request.auth.uid); allow write: if isAdmin(); }
  }
}
